{% extends "tournament_page.html" %}


<!--<h1>OoT Bingo Tournament {{ year }} - Player Statistics</h1>-->
<!--<br>-->
<!--<h2><a href="{{ url }}">Official Tournament Website</a></h2>-->

<!--<br>-->
<!--<div>&diams; Synergy is calculated as the percentage of maximum reachable synergy (7 minutes), even if no row with full synergy is available on the board.</div>-->
<!--&lt;!&ndash;<div>&dagger; Only rows with Frog's HP and Market GS are counted. BiT opportunities from Forest goals etc. are ignored.</div>&ndash;&gt;-->
<!--<br>-->

<!--<div align='left'><a href="">Back to original sorting</a></div>-->
<!--<div align='left'>Last refresh: {{ timestamp }} CEST</div>-->
<!--<div align='right'><a href="http://www.twitter.com/r_fenyan">Made by Fenyan</a></div>-->
<!--<br>-->
<!-- <div align='left'><a href="./v10">Go to 10.0 balancing comparison</a></div>
<div align='left'><a href="./rebalance">Go to 10.1 balancing comparison</a></div> //-->

{% block subnav-playerstats-swiss %}
{% if phase == "swiss" %}
active
{% endif %}
{% endblock %}

{% block subnav-playerstats-top16 %}
{% if phase == "top16" %}
active
{% endif %}
{% endblock %}

{% block annotation %}

<p class="table-disclaimer">
    &diams; Synergy is calculated as the percentage of maximum reachable synergy (7 minutes), even if no row with full synergy is available on the board.
    <br>
    &dagger; Only rows with Frog's HP and Market GS are counted. BiT opportunities from Forest goals etc. are ignored.
</p>

{% endblock %}

{% block datatable %}
 <div id="content">
   <table id="myTable" class="table table-dark" data-order='[[2, "desc"], [5, "asc"]]' data-page-length='250' order-column='1'>

    <thead>
     <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Average</th>
      <th>Median</th>
<!--      <th>Mean Synergy</th>-->
<!--      <th>Mean of Esimate Difference*</th>-->
      <th>Average Row Synergy&diams;</th>
      <th>Forfeits</th>
      <th>Blanks</th>
      <th>Saria's</th>
      <th>Multi ZL</th>
<!--      <th>BiT&dagger;</th>-->
      <th>LACS</th>
      <th>Hearts+Trade Quest</th>
     </tr>
    </thead>
    <tbody>
    {% for player in players %}
     <tr>
      <td></td>
      <td>{{ player.0 }}</td>
      <td>{{ player.1 }}</td>
      <td>{{ player.2 }}</td>
      <td>{{ player.3 }}</td>
      <td>{{ player.4 }}</td>
      <td>{{ player.12|stringformat:"i" }}%</td>
<!--      <td>{{ player.10 }}</td>-->
      <td>{{ player.5 }}</td>
      <td>{{ player.6 }}</td>
      <td>{{ player.7 }}</td>
      <td>{{ player.8 }}</td>
      <td>{{ player.10 }}</td>
<!--      <td>{{ player.9 }}</td>-->
      <td>{{ player.11 }}</td>
     </tr>
    {% endfor %}
    </tbody>

   </table>
    <br>
 </div>
{% endblock %}
{% block datatablejs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>
<script>
$(document).ready( function () {
    var t = $('#myTable').DataTable( {
     "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
        "order": [[ 1, 'asc' ]]
    } );
        t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
} );
</script>
{% endblock %}
