{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block datatablecss %}

        {% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="{% static 'css/layout.css' %}">
        <link rel="stylesheet" href="{% static 'css/bracket.css' %}">
        <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">

        <script src="https://kit.fontawesome.com/f5273b8137.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>

        <title>OoT Bingo Stats</title>

        <style type="text/css">

		.main{
			margin-left:160px;
			padding: 0px 10px;
		}


	    </style>
    </head>
    <body>
        <div id="navigation">
            <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="{% url 'players_era' 'v10.2' %}">Version Stats</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'goals_era' 'v10.2' %}">v10.2</a></li>
                                    <li><a class="dropdown-item" href="{% url 'goals_era' 'v10.1' %}">v10.1</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="{% url 'players' 2022 'swiss' %}">Tournaments</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'players' 2022 'swiss' %}">Bingo Tournament 2022</a></li>
                                    <li><a class="dropdown-item" href="{% url 'players' 2021 'swiss' %}">Bingo Tournament 2021</a></li>
                                    <li><a class="dropdown-item" href="{% url 'players' 2020 'swiss' %}">Bingo Tournament 2020</a></li>
                                </ul>
                            </li>
                        </ul>
                 </div>
                </div>

                <div id="#madeby">
                    <a href="http://www.twitter.com/r_fenyan"><img src="{% static 'twitter_bird.png' %} " width=50px align="right">Made by Fenyan</a>
                </div>
            </nav>

<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="{% url 'players_era' 'v10.1' %}">[OLD - v10.1 Statistics]</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="{% url 'players' 2021 'swiss' %}">[OLD - 2021 Bingo Tournament - Statistics]</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="{% url 'players' 2020 'swiss' %}">[OLD - 2020 Bingo Tournament - Statistics]</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="{% url 'frequency' %}">[OLD - Goal Frequency Analysis 10.0]</a>-->
<!--                        </li>-->
        </div>
        <div id="page-content">
            <div id="content" class="container">
                <div class="row">
                    <div class="col-12">
                        {% if messages %}
                            <div class="alert alert-warning {{ message.tags }}" role="alert">
                                {% for message in messages %}
                                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                {% endfor %}
                            </div>
                        {% endif %}
                            {% block content %}
                            {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    <script>
        // Simple list
        //Sortable.create(document.getElementById('simpleList'));

        $('#exampleModal').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget) // Button that triggered the modal
              var recipient1 = button.data('p1')
              var recipient2 = button.data('p2')
              var matchID = button.data('matchid')
              // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
              var modal = $(this)
              modal.find('#player1').text(recipient1)
              modal.find('#player2').text(recipient2)
              modal.find('#matchID').val(matchID)

              $('#player1').click(function (){
                console.log('winner player one');
              });

              $('#player2').click(function (){
                console.log('winner player two');
              });
        })

    </script>
{% block datatablejs %}

        {% endblock %}

    </body>
</html>