/* import only the necessary Bootstrap files */
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
/* -------begin customization-------- */
/* change the primary theme color to red */
$theme-colors: (
  primary: red;
);
/* -------end customization-------- */
/* finally, import Bootstrap to set the changes! */
@import "../bootstrap";


body {
    background-color: #1d1d1c;
    color: #ededed;
}